<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>69065112850-k13svufoqpfjpd7hv0797g3b1sk1i4kd.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.69065112850-k13svufoqpfjpd7hv0797g3b1sk1i4kd</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>69065112850-l9nodfcj06u5c1utuhno5fb660d8l95v.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCDkioGaXOegctQqbl9Q0qacTe5XQUiIGQ</string>
	<key>GCM_SENDER_ID</key>
	<string>69065112850</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.phoenix.groupie</string>
	<key>PROJECT_ID</key>
	<string>groupieflutter-d67ba</string>
	<key>STORAGE_BUCKET</key>
	<string>groupieflutter-d67ba.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:69065112850:ios:147a8077f6150b9cefc7cb</string>
</dict>
</plist>